@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme{
   --font-*: initial;
   --font-secondary: "Space Grotesk", serif;
   /* colors  */
   --color-Text: #23101a;
   --color-Background: #f7edf3;
   --color-Primary: #69304d;
   --color-Secondary: #ceca92;
   --color-Accent: #7aac4d;

   /* dark theme colors  */
   --color-DText: #efdce6;
   --color-DBackground: #12080e;
   --color-DPrimary: #cf96b3;
   --color-DSecondary: #6d6931;
   --color-DAccent: #7fb253;


}